# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Bundler Audit

on:
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0']

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Install Ruby version specified in `.ruby-version`
      uses: eregon/use-ruby-action@master
    - name: Setup cache key and directory for gems cache
      uses: actions/cache@v5
      with:
        path: vendor/bundle
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gem-
    - name: Install dependencies
      run: |
        gem update --system
        gem install bundler bundler-audit
        bundle install --jobs 4 --retry 3 --path vendor/bundle
    - name: Run bundler audit
      run: bundler-audit
    
